.lisa {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: cccccc;
	text-align: left;
	list-style-position: outside;
	list-style-type: square;
}
.list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: cccccc;
	text-align: left;
	list-style-position: outside;
	list-style-type: square;
}
.fontcolorgray {
	color: #CCC;
}
.bordercolorgray {
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}
