<header class="site-header">

  <div class="wrap">

    {% if page.title == "Home" %}
      <a class="logo" href="{{ site.baseurl }}/"><img src='/images/theme/logo-home.jpg'></a>
    {% else %}
      <a class="logo" href="{{ site.baseurl }}/"><img src='/images/theme/logo.gif'></a>
    {% endif %}

    <div class='contact cf'>
      <div class='tal left'>
	Horse Stomp Ranch<br>
	557 Holden Road, Poplarville, MS 39470<br>
	601-795-3746 • HorseStompRanch@aol.com
      </div>
      <div class='tar right'>
	Louis E. Brodie · 601-795-3746<br>
	Jess W. Brown · 601-270-1619
      </div>
    </div>
    <nav class="site-nav cf">
      <a class="page-link" href="/">Home</a>
      <a class="page-link" href="/cows.html">Cows</a>
      <a class="page-link" href="/donors.html">Donors</a>
      <a class="page-link" href="/f1s.html">F1s</a>
      <a class="page-link" href="/farmpics.html">On the Farm</a>
      <a class="page-link" href="/forsale.html">For Sale</a>
    </nav>
  </div>

</header>
