<header class="site-header">

  <div class="wrap">

    <a class="logo" href="{{ site.baseurl }}/"><img src='/images/theme/logo.gif'></a>

    <div class='contact cf'>
      <div class='tal left'>
	Horse Stomp Ranch<br>
	557 Holden Road, Poplarville, MS 39470<br>
	601-795-3746 • HorseStompRanch@aol.com
      </div>
      <div class='tar right'>
	Louis E. Brodie · 601-795-3746<br>
	Jess W. Brown · 601-270-1619
      </div>
    </div>

    <nav class="site-nav cf">
        {% for page in site.pages %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
    </nav>

  </div>

</header>
